

@code {
    [Parameter, EditorRequired]
    public CarawayOption Model { get; set; }

    [Inject]
    private SettingsService SettingsService { get; set; }

    private static MarkupString FormatInput(string input)
    {
        if (string.IsNullOrEmpty(input)) return (MarkupString)string.Empty;

        var result = input
            .Replace("-", "<i class=\"fa-solid fa-minus\"></i>")
            .Replace("↑", "<i class=\"fa-solid fa-arrow-up\"></i>")
            .Replace("↓", "<i class=\"fa-solid fa-arrow-down\"></i>");

        return (MarkupString)result;
    }
}

<div>
    <div class="row align-items-center">
        <div class="col-4">

        </div>
        <div class="col-4 align-items-stretch">
            <span class="btn btn-primary btn-lg border-2 border-white rounded-0 fw-bold bg-primary w-100">@Model.Code</span>
        </div>
        <div class="col-4">
            <span class="fw-bold">@FormatInput(Model.Input)</span>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-4">
            <span>Backup</span>
        </div>
        <div class="col-4 align-items-stretch">
            <span class="btn btn-primary btn-lg border-start-2 border-end-2 border-bottom-2 border-top-0 border-white rounded-0 fw-bold bg-secondary w-100">@Model.BackupCode</span>
        </div>
        <div class="col-4">
            <span class="fw-bold">@FormatInput(Model.BackupInput)</span>
        </div>
    </div>

    @if (SettingsService.CarawayShowNPCMovement)
    {
        <div class="row">
            <span class="fw-semibold">NPC Details</span>
        </div>
        <div class="row">
            <div class="col-4">
                <span>Station</span>
            </div>
            <div class="col-4">
                <span>@Model.Station</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span>Escalator</span>
            </div>
            <div class="col-4">
                <span>@Model.Escalator</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span>Street</span>
            </div>
            <div class="col-4">
                <span>@Model.Street</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span>Bus</span>
            </div>
            <div class="col-4">
                <span>@Model.Bus</span>
            </div>
        </div>
    }
</div>          