
@code {
    private List<PoleModel> poles = PoleModel.Poles.ToList();
    private Modal _modal;
    private bool _hideUnlikelyResults;
    private bool _showNPCMovement;

    [Inject]
    private SettingsService SettingsService { get; set; }

    protected override void OnInitialized()
    {
        _hideUnlikelyResults = SettingsService.CarawayHideUnlikelyResults;
        _showNPCMovement = SettingsService.CarawayShowNPCMovement;
    }

    public async Task ShowAsync()
    {
        await _modal.ShowAsync();
    }

    private async Task Submit()
    {
        Results = CarawayCode.CarawayCode.CalculateCode(PoleModel.ConvertTo(poles), SettingsService.CarawayHideUnlikelyResults);
    }

    private async Task Reset()
    {
        foreach (var pole in poles)
        {
            pole.Count = null;
        }
        Results = Array.Empty<CarawayCodeOutput>();
    }

    private CarawayCodeOutput[] Results { get; set; } = Array.Empty<CarawayCodeOutput>();

    private async Task HideUnlikelyResultsToggled(bool value)
    {
        if (value == _hideUnlikelyResults) return;
        _hideUnlikelyResults = value;
        SettingsService.CarawayHideUnlikelyResults = value;
        await SettingsService.Save();
    }

    private async Task ShowNPCMovementToggled(bool value)
    {
        if (value == _showNPCMovement) return;
        _showNPCMovement = value;
        SettingsService.CarawayShowNPCMovement = value;
        await SettingsService.Save();
    }

    private void Increment(PoleModel pole, bool isAdding)
    {
        if (pole.Count == null) pole.Count = 0;
        if (isAdding) pole.Count++;
        else pole.Count--;
    }

}

<Modal @ref="_modal" Size="ModalSize.Large" Title="Caraway Code">
    <BodyTemplate>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="row">
                        @foreach (PoleModel pole in poles)
                        {
                            <div class="d-flex align-items-center justify-content-between px-3 py-2 border-top border-secondary">
                                <span class="fw-bold text-center">@pole.Description</span>
                                <div class="input-group mb-0" style="width: auto;">
                                    <NumberInput EnableMinMax="true" Min="0" Max="15" TValue="int?" @bind-Value="@pole.Count" TextAlignment="Alignment.End" />
                                    <button class="input-group-text" type="button" @onclick="() => pole.Count = null">X</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <Button Block="true" Color="ButtonColor.Primary" @onclick="Submit">Submit</Button>
                    </div>
                    <div class="row">
                        <Button Block="true" Color="ButtonColor.Secondary" @onclick="Reset">Reset</Button>
                    </div>
                    <div class="row">
                        <Switch ValueExpression="() => _hideUnlikelyResults" Value="_hideUnlikelyResults" Label="Hide Unlikely Results" ValueChanged="HideUnlikelyResultsToggled" />
                    </div>
                    <div class="row">
                        <Switch ValueExpression="() => _showNPCMovement" Value="_showNPCMovement" Label="Show NPC Movement" ValueChanged="ShowNPCMovementToggled" />
                    </div>
                    <div class="row">
                        <div class="border border-secondary rounded container">
                            <div class="row">
                                <div class="px-3 py-2 bg-primary">
                                    <span>Legend</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="caraway-legend caraway-unlikely-result ms-1 me-2"></div>
                                CSR Only (or you recently hard reset)
                            </div>
                            <div class="row">
                                <div class="caraway-legend bg-primary ms-1 me-2"></div>
                                Regular
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="row">
                        @if (Results.Length == 0)
                        {
                            <span>No results found</span>
                        }
                        else
                        {
                            @foreach (CarawayCodeOutput result in Results)
                            {
                                <div class="border border-secondary rounded">
                                    <div class="row">
                                        <div class="d-flex align-items-center px-3 py-2 @(result.LikelyCSR ? "caraway-unlikely-result" : "bg-primary")">
                                            <h4 class="fw-bold mb-0">@result.SubscriptDisplay</h4>
                                        </div>
                                        <div class="row align-items-center my-2">
                                            <span class="text-center fs-4">Last Series Complete</span>
                                        </div>
                                        <div class="row">
                                            <CarawayOptionControl Model="@result.CompleteOption" />
                                        </div>
                                        <div class="row align-items-center my-2">
                                            <span class="text-center fs-4">Last Series Incomplete</span>
                                        </div>
                                        <div class="row">
                                            <CarawayOptionControl Model="@result.IncompleteOption" />
                                        </div>
                                    </div>                                    
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </BodyTemplate>
</Modal>
