
@code {
    [Parameter, EditorRequired]
    public BaseEncounterModel Model { get; set; }

    [Parameter, EditorRequired]
    public EventCallback Changed { get; set; }

    private async Task Increment(EncounterAbilityModel ability, bool adding)
    {
        if (adding) ability.Count++;
        else if (ability.Count <= 0) return;
        else ability.Count--;

        await Changed.InvokeAsync();
    }

    private async void SwitchChanged(bool value)
    {
        Model.IsToggled = value;
        await Changed.InvokeAsync();
    }

    private async Task IncrementAll()
    {
        foreach (EncounterAbilityModel ability in Model.Abilities)
        {
            ability.Count++;
        }
        await Changed.InvokeAsync();
    }

}


<div class="container border border-secondary rounded">
    <div class="row bg-primary d-flex align-items-center">
        <div class="col-md-8 col-sm-6">
            <p class="fw-bold mb-0">@Model.Description</p>
        </div>
        <div class="col-md-4 co-sm-6">
            @* <TextInput @bind-Value="@Model.Notes" Placeholder="Add notes..." Class="align-middle" /> *@
            @if (Model.ShowPlusOneToAllButton)
            {
                <div class="d-grid">
                    <button class="btn btn-secondary btn-sm" @onclick="IncrementAll">+1 to all</button>
                </div>
            }
        </div>
    </div>
    @foreach (EncounterAbilityModel ability in Model.Abilities)
    {
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <p class="fw-bold">@ability.Description</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="input-group mb-0">
                    <span class="input-group-text flex-fill">@ability.Count</span>
                    <button class="input-group-text" type="button" @onclick="async () => await Increment(ability, true)">▲</button>
                    <button class="input-group-text" type="button" @onclick="async () => await Increment(ability, false)">▼</button>
                </div>
            </div>
        </div>
    }

    @if (Model.ShowToggleOption)
    {
        <div class="row">
            <div class="col-md-12 mx-auto">
                <Switch ValueExpression="() => Model.IsToggled" Label="@Model.ToggleOptionDescription" ValueChanged="SwitchChanged" />
            </div>
        </div>
    }

    @if(Model.FanfareVisible)
    {
        <div class="row">
            <div class="col-md-3">
                <p class="fw-bold">Camera</p>
            </div>
            @foreach (FanfareCamera camera in Model.FanfareList)
            {
                string id = $"{Model.Description}_fanfare_{camera.Description}".Replace(" ", "_");
                string groupName = $"{Model.Description}_fanfare";
                <div class="col-md-auto align-content-end">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input"
                               type="radio"
                               id="@id"
                               name="@groupName"
                               checked="@(Model.Fanfare == camera)"
                               @onchange="() => Model.Fanfare = camera" />
                        <label class="form-check-label" for="@id">@camera.Description</label>
                    </div>
                </div>
            }    
        </div>
    }
</div>
