

@code {
    private Modal _modal;

    [Inject]
    private SettingsService SettingsService { get; set; }

    [Inject]
    private PreloadService PreloadService { get; set; }

    public async Task ShowAsync()
    {
        _isValid = UltimeciaManip.Manipulation.GetSupportedLanguages(SettingsService.Platform).Contains(SettingsService.GameLanguage);        
        await _modal.ShowAsync();
    }

    private bool _isValid;


    private string Input { get; set; }

    private PartyFormation[] Formations { get; set; }

    private async Task CalculateOutput()
    {
        if (Input == null || Input.Length < 12) return;
        List<Direction> directions = new List<Direction>();
        foreach (char directionChar in Input)
        {
            Direction direction = directionChar.ToDirection();
            directions.Add(direction);
        }

        directions = directions.Skip(Math.Max(0, directions.Count - 12)).ToList(); // Get last 12 movements

        try
        {
            PreloadService.Show();
            Formations = await Task.Run(() => UltimeciaManip.Manipulation.GetUltimeciaFormations(directions.ToArray(), SettingsService.Platform, SettingsService.GameLanguage));
        }
        finally
        {
            PreloadService.Hide();
        }

    }

    private MarkupString GetGlyph(Direction direction)
    {
        string glyph;
        switch (direction)
        {
            case Direction.Up: glyph = "fa-arrow-up"; break;
            case Direction.Down: glyph = "fa-arrow-down"; break;
            case Direction.Left: glyph = "fa-arrow-left"; break;
            case Direction.Right: glyph = "fa-arrow-right"; break;
            case Direction.Unknown: glyph = "fa-question"; break;
            default: throw new NotImplementedException();
        }

        return (MarkupString)$"<i class=\"fa-solid {glyph}\"><i>";
    }
}

<Modal @ref="_modal" Size="ModalSize.Large" Title="Ultimecia Party">
    <BodyTemplate>
        @if (_isValid)
        {
            <div class="container">
                <div class="border border-secondary rounded">
                    <div class="row">
                        <div class="d-flex align-items-center px-3 py-2">
                            <h4 class="fw-bold mb-0">Inputs</h4>
                        </div>
                        <div class="row">
                            <input type="text" class="form-control" @bind="Input" @bind:event="oninput" @bind:after="CalculateOutput" placeholder="Accepts 8462 or WASD.  Any other character is a wildcard" />
                        </div>
                    </div>
                </div>
                

                @if (Formations != null)
                {                    
                    @foreach (PartyFormation formation in Formations)
                    {
                        <div class="border border-primary rounded mb-2">
                            <div class="d-flex align-items-center px-3 py-2 bg-primary">
                                @foreach (Direction direction in formation.Movements)
                                {
                                    @GetGlyph(direction);
                                }
                            </div>
                            <div class="container">
                                <div class="row row-cols-3 g-3">
                                    @for (int i = 0; i < formation.TargetOffsetTbl.Count; i++)
                                    {
                                        bool isFirst = i == 0;
                                        TargetOffset frame = formation.TargetOffsetTbl.OrderBy(t => t.Offset).Skip(i).First();
                                        <div class="col">
                                            <div class="h-100 w-100 @(isFirst ? "bg-success" : "bg-primary" )">
                                                <div class="row align-items-center">
                                                    <div class="col-8">
                                                        <p>@frame.Party[0].ToString()</p>
                                                        <p>@frame.Party[1].ToString()</p>
                                                        <p>@frame.Party[2].ToString()</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <span class="fw-bold fs-4">@frame.Offset</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>                                
                            </div>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <Callout>This language is not supported on this platform.  Change settings and re-launch</Callout>
        }
        
    </BodyTemplate>
</Modal>