@page "/cameras"
@page "/cameras/{*FocusedCamera}"
@inherits BasePage

@code {

    public override string PageTitle => "Cameras";

    [Parameter]
    public string FocusedCamera { get; set; }

    [Inject]
    private IJSRuntime JS { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private IJSObjectReference _module;
    private Modal _cameraModal;

    private string _lastFocusedCamera;
    private bool _showModal;

    protected override async Task OnParametersSetAsync()
    {
        if (FocusedCamera != _lastFocusedCamera)
        {
            _lastFocusedCamera = FocusedCamera;
            _showModal = !string.IsNullOrWhiteSpace(FocusedCamera);
        }

        await base.OnParametersSetAsync();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {        
        // This is required over adding the muted property, as Blazor will strip it out
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import", "./lib/common.js");
            await _module.InvokeVoidAsync("initAutoplayVideos");
        }

        if (_showModal && _cameraModal != null)
        {
            _showModal = false;
            await _cameraModal.ShowAsync();
        }

        await base.OnAfterRenderAsync(firstRender);
    }    

    private async Task ShareVideo(string url)
    {
        string absoluteUrl = NavigationManager.ToAbsoluteUri($"cameras/{url}").ToString();
        await _module.InvokeVoidAsync("copyToClipboard", absoluteUrl);
        NavigationManager.NavigateTo($"cameras/{url}");
    }
}

@if (!string.IsNullOrWhiteSpace(FocusedCamera))
{
    string[] parts = FocusedCamera.Split('/');
    if (parts.Length >= 2)
    {
        string folder = parts[0];
        string displayText = folder.ToLower() switch
        {
            "1to1" => "One To One",
            "three" => "Three Characters",
            "special" => "Other",
            "single" => "Single Character",
            _ => "Other"
        };
        <Modal @ref="_cameraModal" IsVerticallyCentered="true">
            <HeaderTemplate>
                <span class="d-block w-100 text-center">@displayText</span>
            </HeaderTemplate>
            <BodyTemplate>
                <Card>                    
                    <video class="card-image-top" autoplay loop>
                        <source src="res/cameras/@(FocusedCamera).mp4" type="video/mp4">
                    </video>
                </Card>
            </BodyTemplate>
        </Modal>
    }
    
    
}


<div class="container">
    <Callout>
        Click on a video to create a sharable link
    </Callout>
    <Tabs EnableFadeEffect="true">
        <Tab Title="One to one" Active="true">
            <Content>
                <CamerasTabControl Videos="CameraData.OneToOne" ActiveVideo="@FocusedCamera" Folder="1to1" ShareVideo="ShareVideo"/>                
            </Content>
        </Tab>
        <Tab Title="Three Characters">
            <Content>
                <CamerasTabControl Videos="CameraData.ThreeCharacters" ActiveVideo="@FocusedCamera" Folder="three" ShareVideo="ShareVideo" />
            </Content>
        </Tab>
        <Tab Title="Single Character">
            <Content>
                <CamerasTabControl Videos="CameraData.SingleCharacter" ActiveVideo="@FocusedCamera" Folder="single" ShareVideo="ShareVideo" />
            </Content>
        </Tab>
        <Tab Title="Special">
            <Content>
                <CamerasTabControl Videos="CameraData.Special" ActiveVideo="@FocusedCamera" Folder="special" ShareVideo="ShareVideo" />
            </Content>
        </Tab>
    </Tabs>    
</div>
