@page "/card-tracker"
<PageTitle>Card Tracker</PageTitle>

@code {
    private CardTrackerModel _model;
    private string _focusedTab;
    private LateQuistisManipulationControl _quistisControl;
    private ZellCardManipulationControl _zellControl;


    [Inject] 
    private HttpClient Http { get; set; }
    [Inject] 
    private ISettingsService Settings { get; set; }
    [Inject]
    private NavigationManager Navigation { get; set; }
    [Inject] 
    private CardTrackerStateService CardTrackerState { get; set; }

    private List<ToastMessage> _toastMessages = new List<ToastMessage>();
    private Tabs _tabs;


    protected override async Task OnInitializedAsync()
    {
        string baseUrl = Navigation.BaseUri + "res";
        await BaseZellCardTrackerModel.InitializeLateQuistisAsync(Http, baseUrl);
        await Settings.Initialise();
        _model = new CardTrackerModel(Settings);

        _model.EarlyQuistisPattern = CardTrackerState.SelectedEarlyQuistisPattern;
        _model.StartLateQuistisPattern += async (model) =>
        {
            await InvokeAsync(async () =>
            {
                StateHasChanged();
                _quistisControl.Model = model;
                await _quistisControl.ShowAsync(_model.CurrentLateQuistisPattern);
            });
        };
        _model.StartZellPatterns += async (model) =>
        {
            await InvokeAsync(async () =>
            {
                StateHasChanged();
                _zellControl.Model = model;
                await _zellControl.ShowAsync();
            });
        };
    }


    private void OnTabShown(TabsEventArgs args) => _focusedTab = args.ActiveTabTitle;

    private void LaunchQuistis() => _model.LaunchQuistisPatternsCommand.Execute(null);

    private void LaunchZell() => _model.LaunchZellCommand.Execute(null);

    private string GetFishFinRowClass(FishFinsEncounter enc) => enc.SingleFishKilled ? "table-success" : string.Empty;

    private async void QuistisSubmitted(uint? result)
    {
        if (result.HasValue)
        {
            _model.SubmitQuistisResult(result.Value);
            _toastMessages.Add(new ToastMessage
            {
                Type = ToastType.Success,
                Title = "Quistis Pattern Submitted",
                Message = "Continue with tracking for zell card"
            });

            await _tabs.ShowTabByIndexAsync(1);
        }
    }

}

@if (_model is null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">
        <LateQuistisManipulationControl @ref="_quistisControl" OnCompleted="QuistisSubmitted" />
        <ZellCardManipulationControl @ref="_zellControl" />
        <Toasts Messages="_toastMessages" Placement="ToastsPlacement.TopRight" AutoHide="true" />
        <Tabs EnableFadeEffect="true" @ref="_tabs" OnShowing="@(args => OnTabShown(args))">
            <Tab Title="Balamb" Active="true">
                <Content>
                    <div class="row mb-3 justify-content-center">
                        <div class="col-md-6 col-sm-12 col-lg-4">
                            <EncounterControl Model="@_model.TwoBatsEncounter" Changed="StateHasChanged" />
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-4">
                            <EncounterControl Model="@_model.IfritEncounter" Changed="StateHasChanged" />
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="col-md-6 col-sm-12 col-lg-4">
                            Post Ifrit Encounter
                            <select class="form-select" value="@_model.IfritsCavernEncounterType"
                                    @onchange="e => { _model.IfritsCavernEncounterType = Enum.Parse<IfritEncounterType>(e.Value.ToString()); StateHasChanged(); }">
                                @foreach (IfritEncounterType type in Enum.GetValues<IfritEncounterType>())
                                {
                                    <option value="@type">@type.GetDescription()</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-4">
                            @if (_model.IfritsCavernEncounterType == IfritEncounterType.RedBat)
                            {
                                <EncounterControl Model="@_model.SecondBatsEncounter" Changed="StateHasChanged" />
                            }
                            @if (_model.IfritsCavernEncounterType == IfritEncounterType.Buel)
                            {
                                <EncounterControl Model="@_model.BuelEncounter" Changed="StateHasChanged" />
                            }
                        </div>
                    </div>
                
                    <div class="row mb-3 justify-content-center">
                        <div class="col-md-6 col-sm-12 col-lg-4">
                            <div class="d-flex align-items-center justify-content-between px-3 py-2 bg-primary">
                                <h4 class="fw-bold mb-0">World Map Encounters</h4>
                            </div>
                            <Grid TItem="WorldMapEncounter" Data="@_model.WorldMapEncounters" Class="table table-hover table-bordered table-striped">
                                <GridColumns>
                                    <GridColumn TItem="WorldMapEncounter" HeaderText="FORMATION" PropertyName="FormationDisplay">
                                        @context.FormationDisplay
                                    </GridColumn>
                                    <GridColumn TItem="WorldMapEncounter" HeaderText="QUANTITY" PropertyName="Quantity">
                                        <div class="input-group mb-0" style="width: auto;">
                                            <span class="input-group-text flex-fill">@context.Quantity</span>
                                            <button class="input-group-text" type="button" @onclick="() => context.Quantity++">▲</button>
                                            <button class="input-group-text" type="button" @onclick="() => context.Quantity--">▼</button>
                                        </div>
                                    </GridColumn>
                                </GridColumns>
                            </Grid>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-4">
                            <div class="d-flex align-items-center justify-content-between px-3 py-2 bg-primary">
                                <h4 class="fw-bold mb-0">Fish Fin Encounters</h4>
                            </div>
                            <Grid TItem="FishFinsEncounter" Data="@_model.FishFinEncounters.ToList()"
                                  Class="table table-hover table-bordered table-striped mb-0" RowClass="GetFishFinRowClass">
                                <GridColumns>
                                    <GridColumn TItem="FishFinsEncounter" PropertyName="Camera" TextAlignment="Alignment.Center">
                                        <Button Size="ButtonSize.Small" Color="ButtonColor.Danger" @onclick="() => { _model.RemoveFishFinEncounterCommand.Execute(context); StateHasChanged(); }">X</Button>
                                    </GridColumn>
                                    <GridColumn TItem="FishFinsEncounter" HeaderText="CAMERA" PropertyName="Camera">
                                        <select class="form-select" value="@context.Camera"
                                                @onchange="e => { context.Camera = FanfareCamera.TwoPersonCameras.FirstOrDefault(t => t.Description == e.Value?.ToString()); StateHasChanged(); }">
                                            @foreach (FanfareCamera camera in FanfareCamera.TwoPersonCameras)
                                            {
                                                <option value="@camera.Description">@camera.Description</option>
                                            }
                                        </select>
                                    </GridColumn>
                                    <GridColumn TItem="FishFinsEncounter" HeaderText="SQUALL PHYSICALS" PropertyName="SquallPhysicals">
                                        <div class="input-group" style="width: auto;">
                                            <span class="input-group-text flex-fill">@context.SquallPhysicals</span>
                                            <button class="input-group-text" type="button" @onclick="() => context.SquallPhysicals++">▲</button>
                                            <button class="input-group-text" type="button" @onclick="() => context.SquallPhysicals--">▼</button>
                                        </div>
                                    </GridColumn>
                                    <GridColumn TItem="FishFinsEncounter" HeaderText="LIMITS" PropertyName="Limits">
                                        <div class="input-group" style="width: auto;">
                                            <span class="input-group-text flex-fill">@context.Limits</span>
                                            <button class="input-group-text" type="button" @onclick="() => context.Limits++">▲</button>
                                            <button class="input-group-text" type="button" @onclick="() => context.Limits--">▼</button>
                                        </div>
                                    </GridColumn>
                                </GridColumns>
                            </Grid>
                            <div class="row g-0">
                                <div class="col-md-8 d-grid">
                                    <Button Block="true" Color="ButtonColor.Primary" @onclick="() => _model.AddNewEncounterCommand.Execute(null)"
                                            Class="rounded-0 border-white border-start-2 border-top-2 border-bottom-2 border-end-1">
                                        Add Regular Encounter
                                    </Button>
                                </div>
                                <div class="col-md-4 d-grid">
                                    <Button Block="true" Color="ButtonColor.Success" @onclick="() => _model.AddNewHalfEncounterCommand.Execute(null)"
                                            Class="rounded-0 border-white border-start-1 border-top-2 border-bottom-2 border-end-2">
                                        Add Single Fish
                                    </Button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (_model.EarlyQuistisPattern == null)
                    {
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="d-flex align-items-stretch">
                                <button class="btn btn-primary btn-lg border-start-2 border-top-2 border-end-2 border-right-0 border-white rounded-0 border-right-0 fw-bold" @onclick="LaunchQuistis">Get Quistis Patterns (Index: @_model.LateQuistisOutput)</button>
                                <div class="border border-start-0 border-top-2 border-right-2 border-end-2 border-white btn-lg px-3 border-left-0 d-flex flex-column align-items-center justify-content-center" style="background-color: @_model.QuistisMashTextBackgroundColor.ToCss()">
                                    <span>Instant Mash<br /></span>
                                    <span class="fs-5 fw-bold">@_model.QuistisPatternMashDisplay</span>
                                </div>
                            </div>
                        </div>
                    }                    
                </Content>
            </Tab>
            <Tab Title="Dollet">
                <Content>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-12">
                            <EncounterControl Model="@_model.FirstDolletEncounter" Changed="StateHasChanged" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <EncounterControl Model="@_model.SecondDolletEncounter" Changed="StateHasChanged" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-12">
                            <EncounterControl Model="@_model.ThirdDolletEncounter" Changed="StateHasChanged" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <EncounterControl Model="@_model.FourthDolletEncounter" Changed="StateHasChanged" />
                        </div>
                    </div>
                </Content>
            </Tab>
            <Tab Title="Anacondaur">
                <Content>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-12">
                            <EncounterControl Model="@_model.BridgeEncounter" Changed="StateHasChanged" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            @if (_model.DidGetSecondBridgeEncounter)
                            {
                                <EncounterControl Model="@_model.SecondBridgeEncounter" Changed="StateHasChanged" />
                            }
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 d-flex">
                            <Switch @bind-Value="_model.DidGetSecondBridgeEncounter" Label="2nd bridge encounter" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-12">
                            <EncounterControl Model="@_model.AnacondaurEncounter" Changed="StateHasChanged" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            @if (!_model.DidGetSecondBridgeEncounter)
                            {
                                <EncounterControl Model="@_model.PostAnacondaurEncounter" Changed="StateHasChanged" />
                            }
                        </div>
                    </div>
                </Content>
            </Tab>
            <Tab Title="Elvoret + X-ATM">
                <Content>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-12">
                            <EncounterControl Model="@_model.ElvoretEncounter" Changed="StateHasChanged" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <EncounterControl Model="@_model.SpiderTankEncounter" Changed="StateHasChanged" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 d-flex">
                            <Switch @bind-Value="_model.DidGetRedSoldierEncounter" Label="Include Red Soldier Encounter" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-12">
                            @if (_model.DidGetRedSoldierEncounter)
                            {
                                <EncounterControl Model="@_model.RedSoldierEncounter" Changed="StateHasChanged" />
                            }
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex align-items-stretch">
                            <button class="btn btn-primary btn-lg border-start-2 border-top-2 border-end-2 border-right-0 border-white rounded-0 border-right-0 fw-bold" @onclick="LaunchZell">Launch Zell (Index: @_model.Output)</button>
                            <div class="border border-start-0 border-top-2 border-right-2 border-end-2 border-white btn-lg px-3 border-left-0 d-flex flex-column align-items-center justify-content-center" style="background-color: @_model.ZellMashTextBackgroundColor.ToCss()">
                                <span>Instant Mash<br /></span>
                                <span class="fs-5 fw-bold">@_model.ZellPatternMashDisplay</span>
                            </div>
                        </div>
                    </div>                    
                </Content>
            </Tab>
        </Tabs>
    </div>    
}
